@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Fira+Sans:wght@700;800;900&family=Pacifico&family=Sarabun&display=swap');
@import url(//db.onlinewebfonts.com/c/5c452fb7a0f5751f4e94e9d84eb01154?family=Segoe+Script);

* {
	 -webkit-font-smoothing: antialiased;
	 box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bodybackground1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000000;
  opacity: 0.05;
  z-index: -1;
  overflow: hidden;
}

.bodybackground2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000000;
  opacity: 0.2;
  z-index: -1;
  overflow: hidden;
}

.container1{
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%,-50%);
  width: 70%;
  line-height: 1.5vw;
  text-align: right;
}

.container2{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%,-50%);
  width: 70%;
  line-height: 1.5vw;
  text-align: left;
}

.blu_ln{
  color: #0071BC;
}

.yel_ln{
  color: #FCDB00;
}

.whi_ln{
  color: #fff;
}

.red_ln{
  color: #C1272D;
}

.quo1{
  color: #0071BC;
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%,-50%);
  animation: slide1 2s ease-out;
}

.quo2{
  color:#fff;
  position: absolute;
  top: 84%;
  left: 90%;
  transform: translate(-50%,-50%);
  animation: slide2 2s ease-out;
}

h1{

}

h2{
  font-family: "Segoe Script",'Finger Paint';
  font-size:70vw;
  animation: infinity 20s infinite ease-in;
  animation-direction: alternate;
}

h3{
	animation: lineUp 3s normal;
}

h4{
  font-family: 'Sarabun', sans-serif;
  font-size: 12vw;
  animation: breathing 6s ease-in-out infinite normal;
}

#sig1{
	text-decoration: none;
  color: #222222;
	pointer-events: all;
	cursor: pointer;

	font-family: 'Pacifico', cursive;
	font-size: 2vw;

	transition: all 1s ease;
}

#sig1:hover{
  color: #222222;
	font-size: 2.4vw;
	pointer-events: all;
	cursor: pointer;
}

#sig2{
	text-decoration: none;
  color: #fff;
	pointer-events: all;
	cursor: pointer;

	font-family: 'Pacifico', cursive;
	font-size: 2vw;

	transition: all 1s ease;
}

#sig2:hover{
  color: #fff;
	font-size: 2.4vw;
	pointer-events: all;
	cursor: pointer;
}



 input[type=checkbox] {
	-webkit-appearance: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	display: block;
	background-color: #fff;
	transition: background-color 1s;
}
 input[type=checkbox]:checked {
	background-color: #333333;
	transition: background-color 1s;
}
 input[type=checkbox]:checked ~ .section-2 {
	display: block;
}
 input[type=checkbox]:checked ~ .section-1 {
	display: none;
}
 .section-1 {
	display: block;
	color: #333333;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 10;

	pointer-events: none;
}
.section-2 {
	display: none;
	color: #fff;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 10;

	pointer-events: none;
}

.blu_ln, .yel_ln, .whi_ln, .red_ln {
  font-family: 'Fira Sans', sans-serif;
  pointer-events: all;
}

#t1:hover,#t2:hover,#t3:hover,#t4:hover,#t5:hover,#t6:hover,#t7:hover,#t8:hover,#t9:hover,#t10:hover,#t11:hover,#t12:hover,#t13:hover{
	font-size: 0;
}

#t01 {
	font-size: 5.5vw;
	color: transparent;
}

#t1 {
  font-size: 5.5vw;
	animation: slidein 1.2s ease-out both;
	transition: all 0s;
}

#t1:hover:after {
	content: attr(data-hover);
	font-size: 5.2vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t2 {
  animation: slidein 1.2s ease-out 0.1s both;
  font-size: 5.5vw;
  transform: translateX(0.25em);
	transition: all 0s;
}

#t2:hover:after{
	content: attr(data-hover);
	font-size: 5.2vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t3 {
  animation: slidein 1.2s ease-out 0.2s both;
  font-size: 5.5vw;
	transition: all 0s;
}

#t3:hover:after{
	content: attr(data-hover);
	font-size: 5.2vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t4 {
  animation: slidein 1.2s ease-out 0.3s both;
  font-size: 5.5vw;
	transition: all 0s;
}

#t4:hover:after{
	content: attr(data-hover);
	font-size: 5.2vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t5 {
  animation: slidein 1.2s ease-out 0.4s both;
  font-size: 5.5vw;
	transition: all 0s;
}

#t5:hover:after{
	content: attr(data-hover);
	font-size: 5.2vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t6 {
  animation: slidein 1.2s ease-out 0.5s both;
  font-size: 5.5vw;
  transform: translateX(0.25em);
	transition: all 0s;
}

#t6:hover:after{
	content: attr(data-hover);
	font-size: 5.2vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t02 {
	font-size: 5vw;
	color: transparent;
}
/* -------------------------------------------------------------- */
#t03 {
	font-size: 5.5vw;
	color: transparent;
}

#t7 {
  animation: 1s slideinr ease-out both;
  font-size: 5vw;
	transition: all 0s;
}

#t7:hover:after{
	content: attr(data-hover);
	font-size: 4.8vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t8 {
  animation: 1s slideinr ease-out 0.1s both;
  font-size: 5vw;
	transition: all 0s;
}

#t8:hover:after{
	content: attr(data-hover);
	font-size: 4.8vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t9 {
  animation: 1s slideinr ease-out 0.2s both;
  font-size: 5vw;
	transition: all 0s;
}

#t9:hover:after{
	content: attr(data-hover);
	font-size: 4.8vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t10 {
  animation: 1s slideinr ease-out 0.3s both;
  font-size: 5vw;
	transition: all 0s;
}

#t10:hover:after{
	content: attr(data-hover);
	font-size: 4.8vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t11 {
  animation: 1s slideinr ease-out 0.4s both;
  font-size: 5vw;
	transition: all 0s;
}

#t11:hover:after{
	content: attr(data-hover);
	font-size: 4.8vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t12 {
  animation: 1s slideinr ease-out 0.5s both;
  font-size: 5vw;
	transition: all 0s;
}

#t12:hover:after{
	content: attr(data-hover);
	font-size: 4.8vw;
	vertical-align: middle;
	animation: show 2s ease;
}

#t04 {
	font-size: 5.5vw;
	color: transparent;
}

@keyframes slide1 {
  0% {
    margin-left: -200%;
    width: 300%;
  }

  100% {
    margin-left: -64%;
    width: 100%;
  }
}

@keyframes slide2 {
  0% {
    margin-left: 200%;
    width: 300%;
  }

  100% {
    margin-left: 64%;
    width: 100%;
  }
}

@keyframes slidein {
  0% {
    margin-left: 80%;
    width: 200%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideinr {
  from {
    margin-left: -120%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes lineUp {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
	20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@keyframes breathing {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1.6);
    -ms-transform: scale(1.6);
    transform: scale(1.6);
  }

  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes infinity {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }

  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
}


@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes noshow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
