@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Fira+Sans:wght@700;800;900&family=Pacifico&family=Sarabun&display=swap');
@import url(//db.onlinewebfonts.com/c/5c452fb7a0f5751f4e94e9d84eb01154?family=Segoe+Script);


.bodybackground1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    color: #000000;
    opacity: 0.05;
    z-index: 0;
}

.bodybackground2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    color: #000000;
    opacity: 0.1;
    z-index: 0;
}

.container1{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%,-50%);

  width: 70%;


  line-height:1.5vw;
  text-align: right;
  hanging-punctuation: force-end;
}

.container2{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%,-50%);

  width: 70%;


  line-height:2vw;
  text-align: left;
}

.blu_ln{
  color: #0071BC;
}

.yel_ln{
  color: #FCDB00;
}

.whi_ln{
  color: #fff;
}

.red_ln{
  color: #C1272D;
}

.quo1{
  color: #0071BC;
  position: absolute;
  top: 0%;
  left: 40%;
  transform: translate(-50%,-50%);
}

.quo2{
  color:#fff;
  position: absolute;
  top: 80%;
  left: 85%;
  transform: translate(-50%,-50%);
}

.spacer{
  display: block;
  height:1em;
}

h1{
  font-family: 'Fira Sans', sans-serif;
  font-size: 5.5vw;

  hanging-punctuation: force-end;
}

h2{
  font-family: "Segoe Script",'Finger Paint';
  font-size:63vw;
}

h3{
  font-family: 'Pacifico', cursive;
  font-size: 2vw;
  opacity: 0.8;
}

h4{
  font-family: 'Sarabun', sans-serif;
  font-size: 12vw;
}



* {
	 -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
 input[type=checkbox] {
	 -webkit-appearance: none;
	 height: 100%;
	 width: 100%;
	 margin: 0;
	 padding: 0;
	 outline: none;
	 border: none;
	 display: block;
	 background-color: #fff;
	 transition: background-color 1s;
}
 input[type=checkbox]:checked {
	 background-color: #333333;
	 transition: background-color 1s;
}
 input[type=checkbox]:checked ~ .section-2 {
	 display: block;
}
 input[type=checkbox]:checked ~ .section-1 {
	 display: none;
}
 .section-1 {
	 display: block;
	 color: #333333;
	 z-index: 10;
	 position: fixed;
	 height: 100%;
	 width: 100%;
	 top: 0;
	 pointer-events: none;

}
 .section-2 {
	 display: none;
	 color: #fff;
	 z-index: 10;
	 position: fixed;
	 height: 100%;
	 width: 100%;
	 top: 0;
	 pointer-events: none;

}
