@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700;800;900&family=Pacifico&family=Sarabun&display=swap');
@import url(//db.onlinewebfonts.com/c/5c452fb7a0f5751f4e94e9d84eb01154?family=Segoe+Script);



.body{

}


.bodybackground {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);


    z-index: -1;
    color: #black;
    opacity: 0.05;
}

.container{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%,-50%);

  width: 70%;
  z-index: 0;

  line-height:1.5vw;
  text-align: right;
  hanging-punctuation: force-end;

}

.blu_ln{
  color: #0071BC;
}

.yel_ln{
  color: #FCDB00;
}

.quo{
  position: absolute;
  top: 15%;
  left: 40%;
  transform: translate(-50%,-50%);
}

.spacer{
  display: block;
  margin-bottom: 6em;
}

h1{
  font-family: 'Fira Sans', sans-serif;
  font-size:5.5vw;
  hanging-punctuation: force-end;
}

h2{
  font-family: "Segoe Script";
  font-size:63vw;
}

h3{
  font-family: 'Pacifico', cursive;
  font-size: 2vw;
  opacity: 0.8;
}

h4{
  font-family: 'Sarabun', sans-serif;
  font-size: 12vw;
  color: #0071BC;
}

.section-1 {

}

.section-2 {
  display:none;
}
